
<footer>
    <div class="contenedor">
        <div class="footer">
            <h2>Contact Me</h2>
            <div class="Rsociales">
                <a href="https://www.instagram.com/br.alexanderr/" target="_blank"><img src="../../assets/insta.png" ></a>
                <a href="https://github.com/bramirezaraya" target="_blank"><img src="../../assets/git.png"></a>
                <a href="https://www.linkedin.com/in/bryan-ramirez-14380b25a/" target="_blank"><img src="../../assets/lkd.png" ></a>
            </div>
                
        </div>

        <div class="built">
            <h5>Built with Angular by Bryan Ramirez 2023.</h5>
        </div>
    </div>

    <a href="#main" class="up"><i class="bi bi-arrow-up-circle-fill"></i></a>
    <!-- <i class="bi bi-arrow-up-circle-fill"></i> -->
</footer>
