<div class="inicio" id="main">
    <div class="info">
        <p class="frase"> Hello, I am</p>
        <p class="nombre"> Bryan Ramirez Araya</p>
        <p class="front">Frontend developer</p>
        <p class="frase">I like to experiment with new technologies and learn about them, to help companies to have a better, faster and more productive development.</p>
        <button class="btn btn-secondary">look at my Projects</button>
    </div>
    
    <div class="data">
        <img src="../../assets/big.jpg" alt="">
    </div>
</div>

<app-skills></app-skills>
